<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Billify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>


</head>
<body> 
    <div id="message" style="color: red; display: none;"></div>
    <header>
        <div id="branding">
            <h1>Billify - Your Personal Finance Tracker</h1>
        </div>
        <nav>
            <ul>
               
               
                <li><a href="/login" id="logoutButton" class="button-like-link">Logout</a></li>
            </ul>
        </nav>
    </header>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  

    <!-- Logic to display split details if they exist -->
    {% if split_details %}
        <div>
            <h3>Split Expense Details:</h3>
            <p>Category: {{ split_details.category }}</p>
            <p>Total Amount: {{ split_details.total_amount }}</p>
            <p>Number of People: {{ split_details.number_of_people }}</p>
            <p>Amount Per Person: {{ split_details.amount_per_person }}</p>
            <p>Description: {{ split_details.description }}</p>
        </div>
    {% endif %}
    
    <div id="dashboard">
        <section id="userOptions">
            <a href="{{ url_for('add_investment') }}" class="option">

                <h3>Add Investment</h3>
                <p>Keep track of your financial growth by adding new investments.</p>
            </a>
             <!-- Update this div to be a link -->
             <a href="{{ url_for('add_debt') }}" class="option">
                <h3>Debts</h3>
                <p>Manage your liabilities and plan repayments effectively.</p>
            </a>
            <a href="{{ url_for('add_budget') }}" class="option">
                <h3>Budgets</h3>
                <p>Plan your spending and save money with custom budget plans.</p>
            </a>
            
            <a href="{{ url_for('add_transaction') }}" class="option">
                <h3>Transactions</h3>
                <p>Review all your transactions in one place to better manage your finances.</p>
            </a>

            <a href="{{ url_for('add_expense') }}" class="option">
                <h3>Expenses</h3>
                <p>Monitor your expenses to understand where your money goes.</p>
            </a>
            
           
            <a href="{{ url_for('add_savings_goal') }}" class="option">
                <h3>Savings Goals</h3>
                <p>Set and achieve your savings goals for future financial security.</p>
            </a>
             <!-- New Options -->
           <!-- Updated Splitting Option -->
           <a href="{{ url_for('splitting') }}" class="option">
            <h3>Splitting</h3>
            <p>Divide expenses among group members fairly.</p>
        </a>
 <!-- New Report Option -->
 <a href="{{ url_for('generate_user_report', user_id=session['user_id']) }}" class="option">
    <h3>Report</h3>
    <p>View detailed reports of your financial activities.</p>
</a>
      
    </div>

    <footer>
        <p>Billify &copy; 2023</p>
    </footer>


</body>
</html>

