<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register- Billify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="message" style="color: red; display: none;"></div>
    <div class="container">
        <h2>Register Your Account</h2>
    <form id="registerForm">
        <input type="text" id="registerUsername" placeholder="Username" required>
        <input type="email" id="registerEmail" placeholder="Email" required>
        <input type="password" id="registerPassword" placeholder="Password" required>
        <button type="submit">Register</button>
    </form>
    
    <p>Already have an account? <a href="/login">Login here</a></p>
    
    <script src="{{ url_for('static', filename='JS/scripts.js') }}"></script>

</body>
</html>
